<div class="jumbotron">
      <h1 class="title">指點</h1>
      <p class="slogan"> 指點 提供東西方各種按摩手法師傅工作機會網站
      <br>
      不管中式經穴或泰式按摩，西式芳香精油或瑞典式按摩
      <br>
      希望透過 指點，找到您的歸宿
      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">立刻應徵</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://photos.mandarinoriental.com/is/image/MandarinOriental/bangkok-13-spa-treatment?$ListDetailBanner$&crop=17,173,4941,2118" class = "img-thumbnail">
          <div class="caption">
            <h3>印度阿育吠陀</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://photos.mandarinoriental.com/is/image/MandarinOriental/bangkok-13-spa-thai-massage-2?$ListDetailBanner$&crop=63,978,4860,2083&anchor=2493,2019" class = "img-thumbnail">
          <div class="caption">
            <h3>泰式推拿</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src=http://photos.mandarinoriental.com/is/image/MandarinOriental/sanya-spa-traditional-chinese-medicine-2?$ListDetailBanner$&crop=-19,864,3982,1707&anchor=1972,1717 alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>中式拔罐</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
